<mat-nav-list>
  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-between center" >
            <mat-icon>price_change</mat-icon>
              Transacciones
          </div>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/home/cotizar">
          <mat-icon>calculate</mat-icon>
          <span class="navegacion-list-label">Cotizar Crédito</span>
        </a>
        <a mat-list-item routerLink="/home/verificarcuota">
          <mat-icon>manage_search</mat-icon>
          <span class="navegacion-list-label">Consultar Cuota</span>
        </a>
      </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
