:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 350px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

mat-drawer-container {
  height: 100%;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

mat-drawer-content {
  padding: 5px;
}
